body {
    
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background-image: url('https://images.pexels.com/photos/1283219/pexels-photo-1283219.jpeg?auto=compress&cs=tinysrgb&h=650&w=940') ;
    background-size:cover;
    justify-content: center;
}

.buttonContainer {
    
    display: flex;
    /* background-color: yellowgreen; */
    height: 25px;
    justify-content: space-around;

}

.button {
    font-size: larger;
   
}

.button:hover {
    background-color: black;
    color: white;
    border: 2px solid white;
}

.imageContainer{
    width:175px;
    display: flex;
    justify-self: center;
    margin-top: -55px;
    margin-bottom: 15px;
}
.nameContainer {
    font-size: 40px;
    display: flex;
    height: 50px;
    justify-content: center;

}

.ingredientsContainer {
    margin-top: -50px;
    margin-bottom: 25px;
}


.instructionsContainer {
    margin-bottom: 15px;
    font-size: large;
    max-width: 530px;
    padding: 10px;
    font-size: 25px;
}

img {
    height: 175px;
    width: 175px;
}