body {
    
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    height: 620px;
    background-image: url("https://images.pexels.com/photos/2796105/pexels-photo-2796105.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") ;
    background-size: cover;
}

.headingContainer {
    
    text-align: center;
    height: 80px;
}

.heading {
    
    background-color: black;
    color: papayawhip;
}

span {
    font-family: 'Great Vibes', cursive;
}vv

.buttonContainer1 {
    
    background-color: black;
    margin-top: -107px;
    margin-bottom: 107px;
}

.button1 {
    margin: 80px 40px;
    height: 50px;
    font-family: 'Great Vibes', cursive;
    font-size: 40px;
    font-family: 'Cookie', cursive;
}



.imageContainer1 {
    
    text-align: center;
    margin: -110px 0px 130px 0px;
}